<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Swancloud</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/index/index.css}" />
    <link rel="stylesheet" th:href="@{/css/index/header.css}" />
    <link rel="stylesheet" th:href="@{/css/index/filter.css}" />
    <link rel="stylesheet" th:href="@{/css/index/gallery.css}" />
    <link rel="stylesheet" th:href="@{/css/index/upload_popup.css}" />
  </head>
  <body>
    <div class="page-container">
      <div class="header">
        <form id="upload-form">
          <label for="files" id="filesInputLabel">
            <img
              id="upload-image"
              class="header-icon"
              th:src="@{/img/icons/upload.svg}"
            />
            <input id="files" type="file" name="files" multiple />
          </label>
        </form>
        <form method="post" th:action="@{/logout}">
          <button id="logout-button" type="submit">
            <img class="header-icon" th:src="@{/img/icons/logout.svg}" />
          </button>
        </form>
        <p th:text="${lastFileUploadedDate}"></p>
      </div>
      <div class="filters">
        <input type="date" name="date" id="beforeDate" />
      </div>
      <ul class="gallery" id="gallery-container"></ul>
      <div id="upload-popup" class="overlay">
        <div class="popup">
          <h2 id="upload-popup-title">Uploading files...</h2>
          <a id="popup-close" class="close" onclick="enablePopup(false)"
            >&times;</a
          >
          <div id="upload-popup-content" class="popup-content">
            <img class="popup-gif" th:src="@{/img/icons/loading.gif}" />
          </div>
        </div>
      </div>
      <script type="text/javascript" th:src="@{/js/gallery.js}"></script>
      <script type="text/javascript" th:src="@{/js/upload.js}"></script>
    </div>
  </body>
</html>
