<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Swancloud Reset Password</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/resetpassword.css}" />
  </head>
  <body>
    <div class="container">
      <img class="content" th:src="@{/img/logo.svg}" />
      <form
        action="#"
        id="reset-password-from"
        th:action="@{/auth/resetpassword}"
        method="post"
        th:object="${passwordResetRequest}"
      >
        <div class="form-field">
          <input
            id="old-password"
            type="password"
            name="oldPassword"
            placeholder="Old password"
            autocomplete="current-password"
            required
          />
        </div>

        <div class="form-field">
          <input
            id="new-password"
            type="password"
            name="newPassword"
            placeholder="New password"
            autocomplete="new-password"
            required
          />
        </div>

        <div class="form-field">
          <input
            id="repeat-password"
            type="password"
            name="repeatPassword"
            placeholder="Repeat password"
            autocomplete="new-password"
            required
          />
        </div>

        <div class="form-field">
          <button class="btn" type="submit">Reset password</button>
        </div>
      </form>
    </div>
  </body>
</html>
