<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title th:text="${fileName}"></title>
    <link rel="icon" type="image/x-icon" href="/img/logo.ico" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/file_preview.css}" />
  </head>
  <body>
    <div id="page-container" class="file-container"></div>
    <script type="text/javascript" th:src="@{/js/video_preview.js}"></script>
  </body>
</html>
